@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Outfit;
    width: 1440px;
    max-width: 100%;
    background: hsl(212, 45%, 89%)
}

.card {
    width: 320px;
    height: 499px;
    background: #fff;
    border-radius:16px;
    padding: 16px;
}